.button {
  background-color: $color-my-sin;
  border: 2px solid $color-my-sin;
  border-radius: 999px;
  height: 40px;
  line-height: 36px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 14px;
  font-family: $font-primary;

  &.secondary {
    background-color: transparent;
    border-color: white;
  }

  &.info {
    background-color: transparent;
    border-color: transparent;
  }
  &.partners {
    margin-top: 20px;
    background-color: white;
    color: #feb648;
    border: 2px solid #feb648;
  }
}
