.partners {
  &__content {
  }
  &__image {
    padding-bottom: 17px;
  }
  &__name {
    font-family: $font-primary;
    font-size: 14px;
    line-height: 1;
    font-weight: 300;
    color: $color-black;
    margin-top: 0;
    margin-bottom: 14px;
  }

  &__text {
    font: $font-primary;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 22px;
    color: rgba(102, 102, 102, 1);
  }
  &__button {
  }

  @media (min-width: 642px) {
    height: 400px;
  }
}
